.score {
  display: flex;
  align-items: center;
  gap: 3.5px;
  padding: 4px 8px;
  background: var(--color-score-bg);
  border: 1px solid var(--color-score-border);
  border-radius: 8px;
  width: fit-content;
}

.scoreValue {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-score);
}
