@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
}

ul {
  list-style: none;
}

:root {
  /* bg colors */
  --color-bg: #10141b;
  --color-card: #171d28;
  --color-card-hover: #1c2330;

  /* text colors */
  --color-text-primary: #ebeef0;
  --color-text-secondary: #999aa2;
  --color-text-muted: #69738a;

  /* accent colors */
  --color-accent: #5278e5;
  --color-accent-hover: #6c8ff0;
  --color-accent-dark: #3f60bb;
  --color-favorite: #d4537e;

  /* rating */
  --color-score: #a3c5dd;
  --color-rating-star: #f2c75c;

  /* border colors */
  --color-border: #343b50;
  --color-border-strong: #4f74d9;

  /* fonts */
  --font-heading: "Sora", sans-serif;

  /* buttons */
  --color-btn-bg: #202735;
  --color-btn-bg-hover: #293244;
  --color-btn-border: #38445c;
  --color-btn-text: #e4e8f0;
  --color-btn-text-disabled: #626b7c;
  --color-btn-bg-disabled: #181d26;

  --color-btn-accent-bg: #5278e5;
  --color-btn-accent-bg-hover: #6c8ff0;
  --color-btn-accent-text: #ffffff;

  /* meta text */
  --color-text-meta: #8993a8;
  --color-text-divider: #414a5e;
  --color-text-link: #7799ef;
  --color-text-link-hover: #9ab3f4;

  /* status colors */
  --color-status-releasing: #5fc7a1;
  --color-status-finished: #6f91e8;
  --color-status-not-yet-released: #d6a85f;
  --color-status-cancelled: #dc6477;
  --color-status-hiatus: #8993ad;

  /* role colors */
  --color-role-main: #e0b45f;
  --color-role-supporting: #6f91e8;
  --color-role-background: #8993a8;

  /* relation colors */
  --color-relation-main: #e0b45f;
  --color-relation-source: #5fc7a1;
  --color-relation-parent: #6f91e8;
  --color-relation-related: #9da8bd;
  --color-relation-other: #707b91;
}
